# Application Parameters
SERVER_NAME="suso.ch"
SERVER_PORT=3000
SERVER_ADDRESS=127.0.0.1
HELP_URL="https://github.com/run2go/suso.ch/"

# Logging Options
LOGFILE_PATH="server.log"
LOGGING_ENABLED=true
DEBUG_ENABLED=false
